main {
  width: 800px;
  height: 500px;
  margin-left: auto;
  margin-right: auto;
  font-size: 0;
  padding: 30px;
}
.box {
  border: 1px solid black;
  display: inline-block;
}
.green {
  width: 50%;
  height: 200px;
  background-color: green;
}

.blue {
  width: 50%;
  height: 200px;
  background-color: blue;
}

.grey, .black, .yellow {
  width: 33.33%;
  height: 300px;
}

.grey {
  background-color: grey;
}

.black {
  background-color: black;
}

.yellow {
  background-color: orange;
}
